/* NAVIGATION */
#navbar{
    flex-direction: column;

}
#navbar ul li a{
    font-size: 1rem;
    padding:0px;
}
/* HOME SECTION */
#home{
    height: 400px;
    padding:4px 50px;

}
#home::before{
    height: 780px;
    margin-bottom:400px;
}
#home p{
    font-size:13px;
    }


/* SERVICES SECTION */
#services{
    flex-direction: column;
    
}
/* #services-container .h-primary{
    margin-top:200px;
} */


/* CLIENT SECTION */ 
#client{
    flex-wrap: wrap;
}
#clients img{
    width:66px;
    height:auto;
    padding-bottom:60px;
}

/* CONTACT US SECTION */
#contact-box input,#contact-box textarea{
    width:15rem;
    padding:0.5rem;
    margin:0px;
}

/* FOOTER SECTION */


/* UTILITY CLASSES */
.h.primary{
font-size:26px;
}
.btn{
    font-size: 13px;
    padding:4px 8px;
}